<html>
    <head>
       {{>headlinks}}
    </head>
    <body>
         <div class="container-fluid main_menu">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">

                    {{>navbar}}
                </div>
            </div>
        </div>
      <!-- MAIN HEADER -->
        <div class="container-fluid main_header">
          <div class="row">
            <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                   <!-- LEFT-SIDE-DIV -->
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure class="errimg">
                        <img src="img/error10.png" alt="supriya" class="img-fluid" title="supriya">
                    </figure>
                    <p> Welcome to the supriya yadav worls</p>
                    <h1> {{errorMsg}} </h1>
                    <a href="/"><button>Go Back</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- FOOTER CODE -->
       {{>footer}}
    </body>
</html>