<html>
    <head>
       {{>headlinks}}
    </head>
    <body>
         <div class="container-fluid main_menu">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">

                    {{>navbar}}
                </div>
            </div>
        </div>
      <!-- MAIN HEADER -->
        <div class="container-fluid main_header">
          <div class="row">
            <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                   <!-- LEFT-SIDE-DIV -->
                <div class="col-md-6 col-12 main_header_left">
                    <figure>
                        <img src="img/about.jpg" alt="supriya" class="img-fluid" title="supriya">
                    </figure>
                </div>
                <!-- RIGHT-SIDE-DIV -->               
                <div class="col-md-6 col-12 main_header_left">
                  <p>Welcome to weather Aap</p>
                  <h1> Hello! I Am Supriya Yadav. A <span class="text_clr">Mernstack Developer</span> and a Freelancer.</h1>
                  {{!-- <a href="" target="_blank"> <button>About Me</button></a>  --}}
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <!-- FOOTER CODE -->
       {{>footer}}
    </body>
</html>